{% if deck_list %}
<ul>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="{% url 'flashcard:newdeck' %}" method="post">
        {% csrf_token %}
        <input id="deck_name" type="text" name="deck_name" />
        <input type="submit" value="New deck" />
    </form>
    {% for deck in deck_list %}
        <li>
            <a href="{% url 'flashcard:study' deck.id %}">{{ deck.deck_name }}</a>
            <form action="{% url 'flashcard:deldeck' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="deck_pk" value="{{ deck.pk }}" />
                <input type="submit" value="Delete deck" />
            </form>
        </li>
    {% endfor %}
</ul>
{% else %}
    <p>You have no flashcard sets!</p>
{% endif %}